@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/* =============== 2. COMPONENT: CAROUSEL ===============*/
.now-playing {
  font-family: "Staatliches", cursive;
}
/* =============== End 2. COMPONENT: CAROUSEL ===============*/

/* =========== Genre ==================== */
.btn-genre {
  color: black;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px 16px 0px;
  background-color: #dceefc;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;

  transition: background-color 0.25s;
}
.btn-genre:hover {
  background-color: #72bdf8;
  text-decoration: none;
}

.genre__content {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

/* =============== 2. COMPONENT: CAROUSEL ===============*/
/* =============== 3. COMPONENT: CAROUSEL ===============*/
